@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #696969;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
}

#header-right {
  display: flex;
  align-items: center;
}

.cta button {
  color: white;
  margin-left: 15px;
}

#logo {
  cursor: pointer;
  height: 100%;
  width: auto;
  max-height: 80px;
}

#nav__links {
  list-style: none;
}

#nav__links li {
  display: inline-block;
  padding: 0px 10px;
}

#nav__links li a {
  transition: all 0.3s ease 0s;
}

#nav__links li a:hover {
  color: #126b0a;
}

/* #126b0a -> rgba(18, 107, 10, 1) */

button {
  padding: 9px 25px;
  background-color: rgba(18, 107, 10, 0.8);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(18, 107, 10, 1);
}
